/* Homa page styles ----------------------------------
 ----------------------------------------------------- */
.todoDone {
  text-decoration: line-through;
  font-style: italic;
  color: gray;
}

.form-group-custom {
  display: flex;
  align-items: center;
  .form-check-label {
    padding-left: 20px;
  }
}
/* on page level responsive breakpoints we write in the end of each section/block */
@media (max-width: 767px) {

}
